@media screen and (max-width: 576px) {
    .nav-container{
        width: auto;
        flex-direction: column;
        margin: auto
   
    }
    .nav-menu{
      flex-direction: column;  
    }
    .nav-img-container img{
        width: 15%;
    }
    .nav-img-container{
        justify-content: center;
    }
    /*banner*/
    .banner-container{
        flex-direction: column-reverse;
        width: auto;
        background-image: none;
        
    }
    .banner-img-container{
        width: auto;
    }

    .banner-content{
        width: auto;
        background-image: url(../images/Group\ 14.png), linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    }
    /*online section*/
    .online-games-container{
        flex-direction: column;
        width: auto;
        margin: auto;
    }
    .games-box-container{
        grid-template-columns: 1fr;
        width: auto;
        margin: auto;
    }
    .box-img{
        width: auto;
    }
    .online-game-description{
        font-size: 14px;
        
    }
    .games-box-container figcaption{
        
        font-size: 16px;
       
        text-align: center;
    }
    /*play section*/
    .play-instant-container{
        flex-direction: column;
        text-align: center;
        width: auto;
        margin: auto;
    }
    .play-instant-content{
        width:auto;
        text-align: center;
        
    }
    .play-instant-img-container img{
        width: auto;
        height: 300px;
    }
    .talking-angela-container{
        margin-left:50px;
       
    }
    .talking-angela-container img{
        height: 200px;
        margin-top: 50px;
        
    
    }
    /*icon container starts*/
    .icon-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0;
        width: auto;
        justify-content: center;
        align-items: center;
    } 
    /*footer*/
    .footer-container{
        width: auto;
        margin: auto;
        
    }
    .footer-menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-icon-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-more-menu{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width: 576px) and (max-width: 992px){
    .nav-container{
        width: auto;
        flex-direction: column;
        margin: auto
   
    }
    .nav-menu{
      flex-direction: column;  
    }
    .nav-img-container{
        width: auto;
        justify-content: center;
    }
    .nav-img-container img{
        width: 20%;
    }
    /*banner*/
    .banner-container{
        flex-direction: column-reverse;
        width: auto;
        background-image: none;
        
    }
    .banner-img-container{
        width: auto;
    }
    .banner-content{
        width: auto;
        background-image: url(../images/Group\ 14.png), linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
        
    }
    /*online section*/
    .online-games-container{
        flex-direction: column;
        width: auto;
        margin: auto;
    }
    .games-box-container{
        grid-template-columns: 1fr;
        width: auto;
        margin: auto;
    }
    .box-img{
        width: auto;
    }
    .online-game-description{
        font-size: 14px;
        
    }
    .games-box-container figcaption{
        
        font-size: 16px;
       
        text-align: center;
    }
    /*play section*/
    .play-instant-container{
        flex-direction: column;
        text-align: center;
        width: auto;
        margin: auto;
    }
    .play-instant-content{
        width:auto;
        text-align: center;
        
    }
    .play-instant-img-container img{
        width: auto;
        height: 300px;
    }
    .talking-angela-container{
        margin-left:50px;
       
    }
    .talking-angela-container img{
        height: 200px;
        margin-top: 50px;
        
    
    }
}