  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/*shared styles*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.primary-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.primary-color-one{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
/*nav section starts*/
nav{
    background: #FFF;
    padding-top: 30px;
}
.nav-container{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-img-container{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-img-container img{
    width: 10%;
    object-fit: contain;
}
.nav-title{
    font-size: 35px;
    font-weight: 700;
}

.primary-color-two{
    color: #0B0223;
}
.menu-container{
   
    width: 50%;    
    
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.nav-menu li{
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.nav-menu a{
    text-decoration: none;
}
.btn{
    border: none;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 25px;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
    
}
.fa-brands{
    width: 10%;
    gap: 10px;
}
.fa-youtube{
    color: #F61C0D;
    padding:0 5px;

}
.fa-tiktok{
    background: var(--linear, linear-gradient(90deg, #08FFF9 0%, #F00044 10%, #000000 100% ));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*nav section ends*/
/*banner section starts*/
.banner-container{
    width: 1200px;
    margin: 30px auto 0;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.banner-content{
    width: 50%;
    background-image: url(../images/Group\ 14.png), 
    linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    
}
.banner-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}
.banner-title-goat{
    font-size: 80px;
    font-weight: 800;
}
.banner-description{
    text-align:start;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 0px;
}
.pink-button{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 15px 30px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.sky-button{
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 30px;
    border: none ;
}
.banner-img-container{
    width: 50%;
}
.banner-img-container img{
    width: 100%;
}
/*main section starts from here*/
/*online game section*/
.online-games-container{
    width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 400px;
}
.games-box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-top: 20px;
    margin-top: 30px;
    
}
.box-img{
    width: 100%;
}
.online-game-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.online-game-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding-top: 15px;
}
.games-box-container figcaption{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}
/*play instantly section starts here*/
.play-instant-container{
    width: 1200px;
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    background: #FFF;
}
.play-instant-content{
    width: 50%;
    text-align: right;
    
}
.play-instant-img-container{
    width: 50%;
    
}
.play-instant-img-container img{
    width: 100%;
    height: auto;
}
.play-instant-part{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.talking-angela-container{
    border-radius: 8px;
    border: 10px solid #FFF;
    margin-top: -270px;
    margin-left: 590px;
}
.talking-angela-container img{
    width: 280px;

}
/*icon container starts*/
.icon-container{
    width: 1200px;
    min-height: 150px;
    margin: 30px auto;
    border: 2px solid rebeccapurple;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.icon-content{
    border: 2px solid red;
    flex-basis: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
    padding: 10px; 
    
}
.icon{
    height: 40px;
    width: 40px;
    object-fit: contain;
}
.icon-content p{
    font-size: 15px;
    color: #0B0223;
    font-weight: 600;
}
/*footer starts here*/
footer{
    background: #0B0223;
}
.footer-container{
    width: 1200px;
    border: 2px solid red;
    min-height: 400px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
}
.footer-img-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.footer-img-container img{
    width: 60px;
    object-fit: contain;

}
.footer-title{
    font-size: 35px;
    text-align: center;
}
.footer-menu li{
    list-style: none;
    
}
.footer-menu{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;
}
.fa-brands{
    color: #FFF;
    padding-bottom: 20px;
    
}
.footer-more-menu li{
   list-style: none;
}
.footer-more-menu{
    display: flex;
    justify-content: center;
    gap:20px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
}
.copyright{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 500;
    padding: 20px;
}

